@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

footer{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
}
.contenido-footer h2{
    font-size: 3cm;
}
.contenido-footer h3{
    font-size: 1.5em;
}
.redes-sociales{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    width: 300px;
    
}
.redes-sociales i{
   border: gray solid 3px;
   padding: 2px;
   border-radius: 100%; 
}