<table id="footer">
    <tr>    
          <td>
                <h4>informacion de contacto:</h4>
                <br>
                <p>email: <a id="link" target="_blank" href="mailto: epuddini@gmail.com">epuddini@gmail.com</a></p>
                <br>
                <p>Movil: <a id="link" target="_blank" href="https://wa.me/+5491167159084">(+54) 9 11 6715-9084</a></p>
                <br>
                <p>
                    Dirección: Argentina, Buenos Aires, Claypole, manzana 27, edificio D10,
                    planta baja, departamento C
                </p>
                <br>
          </td>
    </tr>        
</table>