<section>

    <article>

        <h2>Educación:</h2>
        <table>
            <tr>
                <tr><img src="../../../assets/UTN.png" width="50px"></tr>
                <tr>
                    <span id="UTN">Universidad Tecnologica Nacional</span>
                </tr>
                    <P>
                        <p> Ingenieria en Sistemas de información (2021-2022)</p>
                    
                <tr><img src="../../../assets/sanpiox.jfif" width="50px"></tr>
               <tr> 
                    <span id="UTN">Instituto San Pío X</span>
                </tr>
                <p>Jardin, primaria, y secundaria (2007/2020), bachillerato especializado en Economia</p>
            

        </table>
    </article>
    <article>
        <h2>Conocimientos informaticos: </h2>
        <ul>
            <li>C++</li>
            <li>HTML</li>
            <li>css</li>
            <li>windows intermedio</li>
            <li>Excel intermedio</li>
            <li>Word intermedio</li>
        </ul>
    </article>
</section>